  <a href="/logout" class="btn btn-default btn-sm" id="logout">Logout</a>
  <div class="profile">
  <div class="row">

    <div class="text-center col-sm-6 col-sm-offset-3">

            <% if(user.facebook.id) { %>

                <h3>Facebook</h3>
                <p>
                    <!-- <strong>id</strong>: <%= user.facebook.id %><br> -->
                    <!-- <strong>token</strong>: <%= user.facebook.token %><br> -->
                    <strong>Name</strong>: <%= user.facebook.name %>
                    <strong>Email</strong>: <%= user.facebook.email %><br>
                </p>

            <% } else { %>

            <h3>Locally Stored User</h3>
                <p>
                    <strong>Name</strong>: <%= user.local.name %><br>
                    <!-- <strong>id</strong>: <%= user._id %><br> -->
                    <strong>Email</strong>: <%= user.local.email %><br>
                    <!-- <strong>password</strong>: <%= user.local.password %> -->
                </p>

            <% } %>
    </div>
  </div>
  </div>
